.start-page {
  -fx-background-image: url("backgroundStartPage.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}

.snakes-and-ladders-game-page {
  -fx-background-image: url("snakes_and_ladders_background.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}

.fantasy-title {
  -fx-font-family: "Papyrus", "Georgia", serif;
  -fx-font-size: 60px;
  -fx-font-weight: bold;
  -fx-text-fill: #FFD700;
  -fx-effect: dropshadow(one-pass-box, black, 2, 0.5, 1, 1);
}

.fantasy {
  -fx-font-family: "Papyrus", "Georgia", serif;
  -fx-text-fill: #FFD700;
}
.title-3 {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.fantasy-text {
  -fx-font-family: "Papyrus", "Georgia", serif;
  -fx-font-size: 40px;
  -fx-font-weight: bold;
  -fx-text-fill: #FFD700;
  -fx-effect: dropshadow(one-pass-box, black, 2, 0.5, 1, 1);
}



.game-name-field {
  -fx-background-color: linear-gradient(to bottom, #e0cda9, #d2b48c);
  -fx-border-color: #5a381e;
  -fx-border-width: 3;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
  -fx-padding: 10;
  -fx-font-family: "Papyrus", "Georgia", serif;
  -fx-font-size: 20px;
  -fx-text-fill: #2e1d0e;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0.5, 0, 2);
}

.game-name-field:hover {
  -fx-background-color: linear-gradient(to bottom, #f0e4c3, #cbb994);
  -fx-cursor: hand;
}

.game-name-field:focused {
  -fx-background-color: linear-gradient(to bottom, #f0e4c3, #cbb994); /* lighter parchment when focused */
}

.game-name-field {
  -fx-prompt-text-fill: #5a381eac;
}


.fantasy-button {
  -fx-background-color: linear-gradient(to bottom, #e0cda9, #d2b48c);
  -fx-border-color: #5a381e;
  -fx-border-width: 3;
  -fx-border-radius: 8;
  -fx-background-radius: 8;
  -fx-padding: 10 20 10 20;
  -fx-font-family: "Papyrus", "Georgia", serif;
  -fx-font-size: 18px;
  -fx-text-fill: #2e1d0e;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.5, 0, 2);
  -fx-cursor: hand;
  -fx-font-weight: bold;
}

.fantasy-button:hover {
  -fx-background-color: linear-gradient(to bottom, #f0e4c3, #cbb994);
  -fx-text-fill: #3c2a1e;
}

.fantasy-button:pressed {
  -fx-background-color: #cbb994;
  -fx-text-fill: #000000;
}



.combo-box {
  -fx-background-color: linear-gradient(to bottom, #e0cda9, #d2b48c); /* parchment look */
  -fx-border-color: #5a381e;
  -fx-border-width: 3;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
  -fx-padding: 5;
  -fx-font-family: "Papyrus", "Georgia", serif;
  -fx-font-size: 18px;
  -fx-text-fill: #2e1d0e;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0.5, 0, 2);
}

.combo-box:hover {
  -fx-background-color: linear-gradient(to bottom, #f0e4c3, #cbb994);
  -fx-cursor: hand;
}

.combo-box .list-cell {
  -fx-background-color: transparent;
  -fx-text-fill: #2e1d0e;
}

.combo-box-popup .list-view {
  -fx-background-color: #f8f0e3;
  -fx-border-color: #5a381e;
  -fx-border-width: 2;
}

.combo-box .arrow {
  -fx-background-color: #5a381e;
}